html, body
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif

*, *::before, *::after
    box-sizing: inherit

#application
    margin-left: 2em

    .button 
        display: inline-block
        cursor: pointer
        width: 100px
        border: 1px solid black
        border-radius: 0px
        font-size: 16px
        padding: 4px
        text-align: center

        label 
            display: block
            height: 100%
            cursor: pointer

    #images
        margin-top: 3em

    .image-container
        table td
            padding: 6px

        input
            width: 80px
        
        .image, .canvas
            margin-top: 16px
            